
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    // Anyone can create a user document for themselves, but no one can read, update or delete it.
    match /users/{userId} {
      allow create: if isOwner(userId);
      allow read, update, delete: if false;

      /**
       * Wellness Entries Subcollection
       *
       * Rules:
       * - A user can create, read, list, update, and delete their own wellness entries.
       * - No user can access another user's entries.
       * - Ensures the written data matches the expected schema for a WellnessEntry.
       */
      match /wellnessEntries/{wellnessEntryId} {
        allow read, list, delete: if isOwner(userId);
        
        allow create: if isOwner(userId)
                      && request.resource.data.date is timestamp
                      && request.resource.data.emotion is string
                      && request.resource.data.specificEmotions is list
                      && request.resource.data.sensations is list
                      && request.resource.data.thoughts is list;

        allow update: if isOwner(userId)
                      && request.resource.data.id == resource.data.id; // ID is immutable
      }
    }
  }
}
